<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Creatures - One creature</title>
    </head>
    <body>
    <div class="container">
        <h1>Creature</h1>
    </div>
    <nav>
        <ul>
            <li class="nav"><a href="/">Front page</a></li>
            <li class="nav"><a href="/creatures">Creatures</a></li>
            <li class="nav"><a href="/creature">Creature</a></li>
        </ul>
    </nav>
    <main>
        <ul>
            <li th:text="${fonix.id}">1</li>
            <li th:text="${fonix.name}">dragon</li>
            <li th:text="${fonix.ability}">fire breath</li>
            <li th:text="${fonix.magicalPower}">8</li>
        </ul>
    </main>
    <footer class="alert alert-warning" role="alert">
        Magic creatures of my dreams.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
